{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>{{controller_name | upper}}</h1>
    <p>
        {{pays.france}}
        <br>
        {{pays.angleterre | reverse}}
    </p>
    {# Les conditions #}
    <p>
        {% if chiffre > 5 %}
            {{chiffre}} est plus grand que 5
        {% elseif chiffre > 5 %}
            {{chiffre}} est plus petit que 5
        {% else %}
            Votre chiffre vaut 5
        {% endif %}
    </p>
        {# Les boucle #}
        <ul>
            {% for f in fruits %}
                <li>{{f}}</li>
            {% endfor %}
        </ul>
        {% for v in vide %}
            le tableau etant vide  se message ne saffichera pas 
        {% else %}
            Votre tableau est vide
        {% endfor %}
        {{xss}}
        {# {{xss | raw}} #}
            
{% endblock %}
